.about-us-child {
    position: absolute;
    top: 2px;
    left: 0px;
    background-color: #d9d9d9;
    width: 1512px;
    height: 107px;
}

.home {
    position: absolute;
    top: 0px;
    left: calc(50% - 411px);
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    width: 73.3px;
    height: 23px;
}

.menu {
    position: absolute;
    top: 0px;
    left: calc(50% - 277.61px);
    font-weight: 500;
    display: inline-block;
    width: 72.1px;
    height: 23px;
}

.about-us1 {
    position: absolute;
    top: 0px;
    left: calc(50% - 145.41px);
    font-weight: 500;
    display: inline-block;
    width: 125px;
    height: 23px;
}

.contact-us {
    position: absolute;
    top: 0px;
    left: calc(50% + 39.66px);
    font-weight: 500;
    display: inline-block;
    width: 157.4px;
    height: 23px;
}

.reservations {
    position: absolute;
    top: 0px;
    left: calc(50% + 231.94px);
    font-weight: 500;
    display: inline-block;
    width: 179.1px;
    height: 23px;
}

.main-tabs {
    position: absolute;
    top: 43px;
    left: calc(50% - 509px);
    width: 822px;
    height: 23px;
    color: #000;
}

.group-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50px;
    background-color: #1f1b1b;
}

.order-now {
    position: absolute;
    height: 42.28%;
    top: 34.59%;
    left: calc(50% - 70.5px);
    display: inline-block;
    width: 142px;
}

.rectangle-parent {
    position: absolute;
    height: 4.55%;
    width: 12.37%;
    top: 3.36%;
    right: 15.94%;
    bottom: 92.09%;
    left: 71.69%;
    text-align: center;
    font-family: JejuGothic;
}

.tablershopping-bag-icon {
    position: absolute;
    top: 37px;
    left: 1419px;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.tablersearch-icon {
    position: absolute;
    top: 37px;
    left: 1319px;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.iconamoonprofile-light {
    position: absolute;
    top: 37px;
    left: 1369px;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.untitled-design-4-1 {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 56px;
    height: 49px;
    object-fit: cover;
}

.untitled-design-4-2 {
    position: absolute;
    top: 51px;
    left: 0px;
    width: 96px;
    height: 21px;
    object-fit: cover;
}

.logo {
    position: absolute;
    top: 17px;
    left: 43px;
    width: 96px;
    height: 72px;
}

.firefly-coffee-seeds-86154-1 {
    position: absolute;
    top: 109px;
    left: 0px;
    width: 1512px;
    height: 876px;
    object-fit: cover;
}

.about-us2 {
    position: absolute;
    top: 208px;
    left: 1035px;
    font-size: 64px;
    font-weight: 500;
    display: inline-block;
    width: 285px;
}

.span {
    font-family: Abel;
}

.mmdc-caf-is-more-than-just-co {
    margin: 0;
}

.blank-line {
    margin: 0;
    font-family: Abel;
}

.mmdc-caf-is-container {
    position: absolute;
    top: 384px;
    left: 928px;
    font-size: 24px;
    color: #fff;
    display: inline-block;
    width: 499px;
    height: 355px;
}

.about-us {
    width: 100%;
    position: relative;
    border-radius: 25px;
    background-color: #fff;
    border: 2px solid #652b16;
    box-sizing: border-box;
    height: 982px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #ffdd55;
    font-family: Inter;
}
