@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.navbar .logo img {
    width: 120px;
    padding-left: 30px;

}
:root {
        /* Colors */
        --black-color: #000000;
        --dark-color: #252525;
        --primary-color: #3b141c;
        --secondary-color: #FFDD55;
        --light-pink-color: #faf4f5;
        --medium-gray-color: #ccc;
        --bg-color: #D9D9D9;
        --white: #fff;
        --reminder: #BBB064;
      
        /* Font size */
        --font-size-s: 0.9rem;
        --font-size-n: 1rem;
        --font-size-m: 1.12rem;
        --font-size-l: 1.5rem;
        --font-size-xl: 2rem;
        --font-size-xxl: 2.3rem;
      
        /* Font weight */
        --font-weight-normal: 400;
        --font-weight-medium: 500;
        --font-weight-semibold: 600;
        --font-weight-bold: 700;
      
        /* Border radius */
        --border-radius-s: 8px;
        --border-radius-m: 30px;
        --border-radius-circle: 50%;
      
        /* Site max width */
        --site-max-width: 1300px;
      
}
/* Stylings for whole site*/
ul {
    list-style: none;
}
.body {
    background-color:#D9D9D9;
}
a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

/* Navbar styling */

.navbar{
    background: #D9D9D9;
}
.navbar-brand{
    margin-right: 10px;
    margin-left: 10px;
}

.nav-link{
    font-size: 20px;
    font-family: 'Inter';
    color: #000000;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
    
}

.nav-link:hover{
    color: #FFDD55;
    background: var(--black-color);
}

.search{
    height: 40px;
    width: 80%;
    
}

.btn0{
    border: 0;
    height: 40px;
    width: 35%;
    background: #000000;
    font-size: 15px;
    border-radius: 0%;
    margin-left: -9px;
    color: #FFDD55;
}

body {
    min-height: 10rem;
}
@media only screen and (max-width: 1920px) {
    .navbar{

        width: 100%;
        height: 90%;

    }
}

@media only screen and (max-width: 1080px) {
    .navbar{

        width: 100%;
        height: 90%;

    }
}

.main{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(reservation_bg.jpg);
    background-size: cover;
    width: 100%;
    height: 90vh;
    background-position: 50% 50%;
}

.main h1{
    margin-top: 50px;
    margin-left: 30%;
    font-weight: 550;
}

.rectangle {
    width: 500px;
    height: 500px;
    margin-top: -500px;
    margin-left: 650px;
    border: solid 1px #e0e0e0;
    background-color: #D9D9D9;
  }

.main img{
    margin-top: 20px;
    margin-left: 150px;
}

 #reservation .form-group{
    border-radius: 0;
  }
.form-control{
    margin-top: -430px;
    margin-bottom: 430px;
    margin-left: 680px;
    background-color: #FBF2F2;
    border: #000000;
    border: solid 1px #ACA9A9;
}
  #reservation .form-group:focus{
    box-shadow: none;
    border: #000000;
  }

  .btn{
    border: 0;
    height: 40px;
    width: 40%;
    font-size: 15px;
    border-radius: 30px;
    margin-top: -420px;
    margin-left: 810px;
    background-color: #610000;
    color: #fff;
  }

  .back-home{
    margin-top: -370px;
    margin-left: 838px;
    color: #000000;
  
 
  }

